{{>adminhead}}
<body>
    {{>adminnavbar}}
    

          <div class="container-fluid pt-3"> 
             
            <div class="col-lg-12 grid-margin stretch-card pt-3">
           
              <div class="card bg-dark">
                    
                <div class="card-body">
                  <a href="/admin/add-coupons" class="btn btn-outline-success btn-rounded float-end">Add-Coupons</a>
                  <h1 class="card-title text-center text-light">Coupons</h1>
                  {{!-- <p class="card-description">
                    Add class <code>.table-dark</code>
                  </p> --}}
                  <div class="table-responsive pt-3">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th scope="col">
                            No.
                          </th>
                          <th scope="col">
                            Coupon code
                          </th>
                          <th scope="col">
                            Description
                          </th>
                          <th scope="col">
                            Due Date
                          </th>
                          <th scope="col">
                            Offer Percentage
                          </th>
                          <th scope="col">
                            Minimum Amount
                          </th>
                          <th scope="col">
                            Maximum Amount
                          </th>
                          <th scope="col">
                            Image
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each coupons}}
                        <tr>
                          <th scope="row">
                            
                          </th>
                          <td>
                            {{this.code}}
                          </td>

                          <td>
                            {{this.description}}
                          </td>

                          <td>
                            {{this.date}}
                          </td>

                          <td>
                            {{this.percentage}}%
                          </td>

                          <td>
                            ₹ {{this.miniamt}}
                          </td>

                          <td>
                            ₹ {{this.maxamt}}
                          </td>

                          <td>
                           <img style="width: 50px;height: 50px;" src="/product-images/{{this.image.[0]}}" alt="" >
                          </td>
                                
                          <td>
                            <a href="/admin/edit-coupons?coupons={{this._id}}" ><i class="fa-solid fa-pen-to-square" style="color: green;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/admin/delete-coupons?coupons={{this._id}}"  onclick="return confirm('Are you want to delete category {{this.name}}?')"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>  
      </div>
      <!-- main-panel ends -->

  <!-- container-scroller -->

    {{>adminjs}}
    <script>
      var table = document.getElementsByTagName('table')[0],
        rows = table.getElementsByTagName('tr'),
        text = 'textContent' in document ? 'textContent' : 'innerText';

      for (var i = 1, len = rows.length; i < len; i++) {
        rows[i].children[0][text] = i + ' ' + rows[i].children[0][text];
      }
    </script>
</body>

