{{>usernav}}
<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-xl-12 m-lr-auto m-b-50">
				<div class="m-l-5 m-r--8 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart ">
							<tr class="table_head p-3">
								<th class="text-center">Image</th>
								<th class="text-center">Name</th>
								<th class="text-center">Brand</th>
								<th class="text-center">Price</th>
								<th class="text-center">Quantity</th>
								<th class="text-center">Status</th>
								<th class="text-center">Action</th>
								{{!--<th class="text-center">Amount</th>
								<th class="text-center">Payment</th>
								<th class="text-center">View</th> --}}

							</tr>
							{{#each product}}
							<tr class="table_row text-center">
								<td><img style="width: 50px;height: 50px; align-items: center;"
										src="/product-images/{{product.image.[0]}}" alt=""></td>
								<td class="text-center">{{this.product.name}}</td>
								<td class="text-center">{{this.product.brand}}</td>
								<td class="text-center">₹ {{this.product.price}}</td>
								<td class="text-center">{{this.quantity}}</td>
								<td class="text-center">{{this.orderStatus}}</td>
								{{!-- <td class="text-center">{{this.payment}}</td>
								<td class="column-5 text-center">
									<a href="/viewOrderProducts?id={{this._id}}"
										class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">View
										Products</a>
								</td> --}}
								<td>
									{{#if this.none}}

									{{else}}

									{{#if this.return}}

									{{else}}

									{{#if this.delivered}}
									<button type="button" class="btn btn-primary"
										onclick="Orderretun('Order Retuned','{{this.product._id}}','{{../orderId}}','{{this.userid}}')">Return</button>

									{{else}}
									{{!-- <a href="/deleteOrder/{{this.product._id}}/{{../orderId}}"
										class="btn btn-danger"
										onclick="return confirm('Are you want to cancel {{this.product.name}}?')">Cancel
										Order</a> --}}
									<button type="button" class="btn btn-danger"
										onclick="changestatus('Order Cancelled','{{this.product._id}}','{{../orderId}}','{{this.userid}}')">Cancel</button>
									{{/if}}
									{{/if}}
									{{/if}}
								</td>
							</tr>
							{{/each}}

						</table>
					</div>


				</div>
			</div>


		</div>
	</div>
	{{>userfooter}}


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<script>
		function changestatus(status, prodId, orderId, userid) {
			//alert(orderId)
			$.ajax({
				url: "/cancelOrder",
				method: 'post',
				data: {
					status: status,
					prodId: prodId,
					orderId: orderId,
					userid: userid
				},
				success: (response) => {
					alert("Order Canceled")
					location.reload()
				}
			})

		}
	</script>
	<script>
		function Orderretun(status, prodId, orderId, userid) {
			//alert(orderId)
			$.ajax({
				url: "/Orderretun",
				method: 'post',
				data: {
					status: status,
					prodId: prodId,
					orderId: orderId,
					userid: userid
				},
				success: (response) => {
					alert("Order returned")
					location.reload()
				}
			})

		}
	</script>

	</script>

	{{>userjs}}